.leftSideBar{
    -fx-background-color: white;
}

.leftSideBar .option{
    -fx-alignment: left;
    -fx-text-fill: black;
    -fx-fill: black;
    -fx-padding: 10;
    -fx-graphic-text-gap: 12;
    -fx-border-color: white;
    -fx-background-color: #E1F0DA;
    -fx-pref-width: 12.0em;
}

.leftSideBar .option:hover{
    -fx-alignment: left;
    -fx-text-fill: black;
    -fx-fill: black;
    -fx-padding: 10;
    -fx-graphic-text-gap: 12;
    -fx-border-color: black;
    -fx-background-color: #E1F0DA;
    -fx-pref-width: 12.0em;
}


